--- 
layout: page 
---

<div id="shocase-page">
    <div class="container">
        <div class="row">
            {% for post in site.posts limit: 3 %} {% include indexpostitem.html %} {% endfor %}
        </div>
        <!--/row-->
        <div class="row hidden-phone spacer50"></div>
        <div class="row">
            {% for post in site.posts limit: 3 offset: 3 %} {% include indexpostitem.html %} {% endfor %}
        </div>
        <!--/row-->
        <div class="row hidden-phone spacer50"></div>
        <div class="row">
            {% for post in site.posts limit: 3 offset: 6 %} {% include indexpostitem.html %} {% endfor %}
        </div>
        <!--/row-->
    </div>
</div>
