#main-navbar {
  border: none;
  background-color: transparent;
}

#main-navbar .navbar-brand {
  color: #fff;
}

#main-navbar #navbar ul li a,
#main-navbar .navbar-brand{
  color: #fff;
  font-weight: bold;
}

#main-navbar #navbar ul li a:hover {
  color: #ffc2b3;
}

@media(min-width: 768px) {
  #main-navbar #navbar ul > li > a {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
  }
}

@media(min-width: 992px) {
  #main-navbar #navbar ul > li > a {
    padding-left: 17px;
    padding-right: 17px;
    font-size: 14px;
  }
}

@media(min-width: 1200px) {
  #main-navbar #navbar ul > li > a {
    padding-left: 24px;
    padding-right: 24px;
  }
}

#main-navbar.navbar-position-top {
  border: none;
  background-color: transparent;
}
#main-navbar.navbar-position-scroll {
  background-color: #270c0c;
}

@media(max-width: 767px) {
  #main-navbar .navbar-collapse {
    background-color: #270c0c;
  }
}

#main-navbar .navbar-brand img {
  max-width: 24px;
  display: inline;
}

.header {
  /*height: 600px;*/
  padding-bottom: 50px;

  background-image: url("../images/background.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../images/background.jpg");

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 100px;
  color: #fff;
  text-align: center;

  position: relative;
}

.header h1 {
  font-size: 3em;
}

.header .logo {
  width: 220px;
}

.header .btn-installation {
  background-image: -webkit-linear-gradient(top, #d90000, #610101);
  background-image: -moz-linear-gradient(top, #d90000, #610101);
  background-image: -ms-linear-gradient(top, #d90000, #610101);
  background-image: -o-linear-gradient(top, #d90000, #610101);
  background-image: linear-gradient(to bottom, #d90000, #610101);
  border-color: #610101;
}

.header .github-buttons {
  margin-top: 14px;
}

.features {
  background-color: #eaf1f1;
  padding-top: 40px;
  padding-bottom: 40px;

}

.features .feature {
  padding-top: 20px;
  padding-bottom: 20px;
}

.features hr {
  border: 1px solid #CA0000;
}

#commits {
  padding-left: 0;
}

#commits ul {
  padding-left: 20px;
}

#commits ul li {
  margin-top: 2px;
  margin-bottom: 2px;
}

#commits .github-avatar {
  width: 20px;
  height: 20px;
}

@media(min-width: 1200px) {
  #commits ul li {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.footer {
  padding-top: 18px;
  padding-bottom: 18px;

  background-color: #170104;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer a {
  color: #d90000;
}


.btn-container-lg {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
}
.btn-container-md {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
}
.btn-social {
  color: #fff;
  background-color: #AC0101;
  background-color: #CA0000;
  border-radius: 2em;
  padding: 4px;
}
.btn-social:hover,
.btn-social:active,
.btn-social:focus {
  color: #fff !important;
}
.btn-container-lg .btn-social {
  width: 30px;
  height: 30px;
}
.btn-container-md .btn-social {
  width: 36px;
  height: 36px;
  margin-right: 1px;
  margin-left: 1px;
  padding: 7px;
}

.gitter-chat-embed{
  z-index:9000;
}

.dropdown-menu {
      background-color: currentColor !important;
}

.showcase-img {
    width: 100%;
    max-height: 60px;
}

.showcase-box {
    text-align: center;
    border-style: outset;
    border-radius: 10px;
}

#showcase-page {
  margin-bottom: 100px;
  margin-top: 100px;
}

