#main-navbar {
  border: none;
  background-color: transparent;
}

#main-navbar .navbar-brand {
  color: #fff;
}

#main-navbar #navbar ul li a {
  color: #fff;
}

#main-navbar #navbar ul li a:hover {
  font-weight: bold;
}

#main-navbar.navbar-position-top {
  border: none;
  background-color: transparent;
}
#main-navbar.navbar-position-scroll {
  background-color: #270c0c;
}

#main-navbar .navbar-brand img {
  max-width: 24px;
  display: inline;
}

.header {
  height: 600px;

  background-image: url("../images/background.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../images/background.jpg");

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 100px;
  color: #fff;
  text-align: center;

  position: relative;
}

.header h1 {
  font-size: 3em;
}

.header .logo {
  width: 220px;
}

.header .btn-installation {
  background-image: -webkit-linear-gradient(top, #d90000, #610101);
  background-image: -moz-linear-gradient(top, #d90000, #610101);
  background-image: -ms-linear-gradient(top, #d90000, #610101);
  background-image: -o-linear-gradient(top, #d90000, #610101);
  background-image: linear-gradient(to bottom, #d90000, #610101);
  border-color: #610101;
}

.header .github-buttons {
  margin-top: 14px;
  /*
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  */
}

.features {
  background-color: #eaf1f1;
  padding-top: 40px;
  padding-bottom: 40px;

}

.features .feature {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  padding-top: 18px;
  padding-bottom: 18px;

  background-color: #170104;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer a {
  color: #d90000;
}
