---
layout: default
---
<link href="{{ '/stylesheets/catalogue.css' | relative_url }}" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ '/javascripts/vue.js' | relative_url }}"></script>
<script src="{{ '/javascripts/moment.js' | relative_url }}"></script>

<div class="header">
      <div class="container">
        <img class="logo" src="{{ '/images/logo.png' | relative_url }}" alt="AzerothCore logo">
        <h1>AzerothCore</h1>
        <p class="lead">The open source MMORPG server application</p>
      </div><!-- /.container -->
    </div>

    <div id="content" class="container">
        {{content}}
    </div>