---
layout: default
---

<style>
  .header .container {
    display: none;
  }
  .header {
    padding-bottom: 0px;
  }
</style>

<link
  href="{{ '/stylesheets/catalogue_style.css' | relative_url }}"
  rel="stylesheet"
/>

<script
  src="{{ '/javascripts/catalogue/runtime-es2015.js' | relative_url }}"
  type="module"
></script>
<script
  src="{{ '/javascripts/catalogue/runtime-es5.js' | relative_url }}"
  nomodule
  defer
></script>
<script
  src="{{ '/javascripts/catalogue/polyfills-es5.js' | relative_url }}"
  nomodule
  defer
></script>
<script
  src="{{ '/javascripts/catalogue/polyfills-es2015.js' | relative_url }}"
  type="module"
></script>
<script
  src="{{ '/javascripts/catalogue/scripts.js' | relative_url }}"
  defer
></script>
<script
  src="{{ '/javascripts/catalogue/vendor-es2015.js' | relative_url }}"
  type="module"
></script>
<script
  src="{{ '/javascripts/catalogue/vendor-es5.js' | relative_url }}"
  nomodule
  defer
></script>
<script
  src="{{ '/javascripts/catalogue/main-es2015.js' | relative_url }}"
  type="module"
></script>
<script
  src="{{ '/javascripts/catalogue/main-es5.js' | relative_url }}"
  nomodule
  defer
></script>

<div class="header">
  <div class="container">
    <img
      class="logo"
      src="{{ '/images/logo.png' | relative_url }}"
      alt="AzerothCore logo"
    />
    <h1>AzerothCore</h1>
    <p class="lead">The open source MMORPG server application</p>
  </div>
  <!-- /.container -->
</div>

<div id="content" class="container">
  <!-- {{content}} -->
  <app-root></app-root>
</div>
