---
layout: default
---

<main class="post">
  <section class="thumbnail-wrapper">
    <img src="{{ page.thumbnail }}" class="thumbnail">
  </section>
  <section>
    <h1>{{ page.title }}</h1>
    <dl>
      {% if page.author %}
        <dt>Author:</dt>
        <dd>{{ page.author }}</dd>
      {% endif %}
    </dl>
    <nav>
    {% if page.homepage %}
      <a class="btn" href="{{ page.homepage }}">
        <i class="glyphicon glyphicon-home"></i> Homepage
      </a>
    {% endif %}
    </nav>
  </section>
  <div class="chevrons">
    <i class="glyphicon glyphicon-chevron-left"
       onclick="previous('{{ page.title }}')"></i>
    <i class="glyphicon glyphicon-chevron-right"
       onclick="next('{{ page.title }}')"></i>
  </div>
  <hr />
  <article>
    {{ content }}
  </article>
</main>