---
layout: default
---

<div class="header">
    <div class="container">
    <img class="logo" src="{{ '/images/logo.png' | relative_url }}" alt="AzerothCore logo">
    <h1>AzerothCore</h1>
    <p class="lead">The open source MMORPG server application</p>
    </div><!-- /.container -->
</div>

<div id="content" class="container">
    <main class="post">
    <section class="thumbnail-wrapper">
        <img src="{{ page.image }}" class="thumbnail">
    </section>
    <section>
        <h1>Testimonial: {{ page.title }}</h1>
        <dl>
        {% if page.author %}
            <dt>Author:</dt>
            <dd>{{ page.author }}</dd>
        {% endif %}
        </dl>
        <nav>
        {% if page.website %}
        <a target="_blank" class="btn" href="{{ page.website }}">
            <i class="fa fa-home" aria-hidden="true"></i> Homepage
        </a>
        {% endif %}
        </nav>
    </section>
    <div class="chevrons">
        <i class="fa fa-arrow-left" aria-hidden="true"
        onclick="previous('{{ page.title }}')"></i>
        <i class="fa fa-arrow-right" aria-hidden="true"
        onclick="next('{{ page.title }}')"></i>
    </div>
    <hr />
    <article>
        {{ content }}
    </article>
    </main>

    <div style="margin-top:80px" id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://azeroth.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
