---
layout: default
---

<div class="header">
    <div class="container">
    <img class="logo" src="{{ '/images/logo.png' | relative_url }}" alt="AzerothCore logo">
    <h1>AzerothCore</h1>
    <p class="lead">The open source MMORPG server application</p>
    </div><!-- /.container -->
</div>

<div id="content" class="container">
    <main class="post">
    <section class="thumbnail-wrapper">
        <img src="{{ page.image }}" class="thumbnail">
    </section>
    <section>
        <h1>Testimonial: {{ page.title }}</h1>
        <dl>
        {% if page.author %}
            <dt>Author:</dt>
            <dd>{{ page.author }}</dd>
        {% endif %}
        </dl>
        <nav>
        {% if page.website %}
        <a target="_blank" class="btn" href="{{ page.website }}">
            <i class="fas fa-home" aria-hidden="true"></i> Homepage
        </a>
        {% endif %}
        </nav>
    </section>
    <div class="chevrons">
        <i class="fas fa-arrow-left" aria-hidden="true"
        onclick="previous('{{ page.title }}')"></i>
        <i class="fas fa-arrow-right" aria-hidden="true"
        onclick="next('{{ page.title }}')"></i>
    </div>
    <hr />
    <article>
        {{ content }}
    </article>
    </main>
</div>
